<div class="container-fluid">
  <div class="card p-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="input-group mb-3 w-50">
            <input type="text" class="form-control" placeholder="Recherche..." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" ><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
        <div class="col-md-6 align-center">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" routerLink="/public/gestion/paystarifs" class="btn btn-light my-bordered-btn">Service colis</button>
            <button type="button" routerLink="/public/gestion/rapidposte" class="btn btn-light my-bordered-btn">Service rapid poste</button>
            <button type="button" routerLink="/public/gestion/pays" class="btn btn-light my-bordered-btn">Gestion de pays</button></div>
        </div>
        <div class="col-md-2">
          <a data-toggle="modal" data-target="#exampleModal" class="btn btn-ajouter w-100">
            Ajouter &nbsp;<i class="fas fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row table-wrapper-scroll-y my-custom-scrollbar">
      <table id="dtBasicExample" class="table table-striped table-bordered align-middle text-center" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th class="th-sm">Code pays
          </th>
          <th class="th-sm">Nom pays
          </th>
          <th class="th-sm">Groupe
          </th>
          <th class="th-sm">Code coursier
          </th>
          <th class="th-sm">Code zone
          </th>
          <th class="th-sm">Modifier
          </th>
        </tr>
        </thead>
        <tbody class="my-scrollable">

            <tr *ngFor="let pays of listPays">
              <td>{{pays.code}}</td>
              <td>{{pays.name}}</td>
              <td>{{pays.groupe}}</td>
              <td>{{pays.codecoursier}}</td>
              <td>{{pays.codezone}}</td>
              <td><a (click)="remplirForm(pays)" data-toggle="modal" data-target="#exampleModal" class="btn btn-alert">Modifier <i class="fas fa-edit"></i></a></td>
            </tr>

        </tbody>
        <tfoot>
        <tr>
          <th class="th-sm">Code pays
          </th>
          <th class="th-sm">Nom pays
          </th>
          <th class="th-sm">Groupe
          </th>
          <th class="th-sm">Code coursier
          </th>
          <th class="th-sm">Code zone
          </th>
          <th class="th-sm">Modifier
          </th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter/Modifier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (submit)="onSubmitPays()">
          <div class="form-group">
            <input class="form-control" type="text" formControlName="code" placeholder="code"> <br>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" formControlName="name" placeholder="name"> <br>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" formControlName="groupe" placeholder="groupe"> <br>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" formControlName="codecoursier" placeholder="codecoursier"> <br>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" formControlName="codezone" placeholder="codezone"> <br>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" formControlName="langue" placeholder="langue"> <br>
          </div>
          <button class="btn btn-ajouter w-100" >Enregistrer</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
